body {
  font-family: 'Poppins', sans-serif;
}

/* Sidebar buttons */
.tab-btn {
  transition: all 0.2s ease-in-out;
  border: 1px solid transparent;
  position: relative;
  padding-left: 1rem;
}

.tab-btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 3px;
  height: 100%;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
}

.tab-btn.active-tab {
  background-color: white;
  color: black;
  border: 1px solid white;
}

.tab-btn.active-tab::before {
  background-color: white;
}

button:hover {
  transform: scale(1.02);
}

/* Fade animation */
.fade {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.fade.show {
  opacity: 1;
}

.copy-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  transition: transform 0.2s, color 0.2s;
}
.copy-btn:hover {
  transform: scale(1.2);
  color: #22c55e; /* Tailwind's green-500 */
}

#welcomeText {
 /* text-shadow: 0 0 10px rgba(255, 165, 0, 0.3); */
  opacity: 0;
  transform: translateY(-10px);
  animation: fadeIn 1.5s ease-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes wave {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(15deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(15deg); }
  100% { transform: rotate(0deg); }
}

#welcomeText svg {
  transform-origin: bottom center;
  animation: wave 2.8s ease-in-out;
}


/* Animate the fade and slight scale of the modal */
#editModal.show {
  opacity: 1;
  display: flex;
  transform: scale(1);
}

#editModal.hide {
  opacity: 0;
  transform: scale(0.98);
}

/* Smooth scaling for the inner content */
#editModal > div {
  transition: transform 0.3s ease, opacity 0.3s ease;
}


#successPopup {
  opacity: 0;
}

#successPopup.opacity-100 {
  opacity: 1;
}

#logoutBtn {
  transition: all 0.3s ease;
}
#logoutBtn:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.03);
}
